.navbar-default {
    background-color: #1d5e86;
    .brand {
        background-color: #1d5e86;
    }
    .navbar-nav > li >a {
        color: white;
    }
    color: white;
}

 #navbar-menu ul li :hover {
     color: #00c300;
 }

.actions {
    width: 318px;
}

.number {
    width: 20px;
}

.pagination-custom {
    margin-top: 0px;
}
